// Fonts
$font-family-body: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$font-family-mono: "JetBrains Mono", "Fira Code", "Monaco", "Consolas", monospace;
$font-family-tt: "JetBrains Mono", "Fira Code", "Monaco", "Consolas", monospace;
$font-size: 14px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic